---
import type { GetStaticPaths } from 'astro'

import ArticleCard from '@/components/common/ArticleCard.astro'
import Pagination from '@/components/common/Pagination.astro'
import { SITE } from '@/config'
import PageLayout from '@/layouts/PageLayout.astro'
import { getSortedArticles } from '@/utils/articles'

export const getStaticPaths = (async ({ paginate }) => {
	const articles = await getSortedArticles()
	return paginate(articles, {
		pageSize: SITE.pageSize,
	})
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<PageLayout>
	<div class='space-y-8'>
		<div class='w-full space-y-4'>
			{
				page.data.map((entry, index) => (
					<ArticleCard
						entry={entry}
						class='onload-animation'
						style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval))`}
					/>
				))
			}
		</div>
		<Pagination
			class='onload-animation'
			lastPage={page.lastPage}
			currentPage={page.currentPage}
			prevUrl={page.url.prev}
			nextUrl={page.url.next}
			style={`animation-delay: calc(var(--onload-animation-delay) + ${page.data.length + 1} * var(--onload-animation-interval))`}
		/>
	</div>
</PageLayout>
