---
import ArchiveArticle from '@/components/common/ArchiveArticle.astro'
import ArchiveYearTitle from '@/components/common/ArchiveYearTitle.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { type Archive } from '@/utils/articles'

interface Props {
	archiveMap: Map<number, Array<Archive>>
	title?: string
	subTitle?: string
	bannerImage?: string
	slug?: string
}

const { archiveMap, title, subTitle, bannerImage, slug } = Astro.props
---

<PageLayout title={title} subTitle={subTitle} bannerImage={bannerImage} slug={slug}>
	<div class={`
		mx-3 flex flex-col rounded-2xl bg-card px-10 py-5
		lg:mx-0 lg:p-10
	`}>
		{
			archiveMap.size !== 0 &&
				[...archiveMap.keys()].map((year) => (
					<div>
						<ArchiveYearTitle year={year} count={archiveMap.get(year)!.length} />
						<ul>
							{archiveMap.get(year)?.map((entry) => (
								<li>
									<ArchiveArticle id={entry.id} title={entry.title} published={entry.date} />
								</li>
							))}
						</ul>
					</div>
				))
		}
	</div>
</PageLayout>
