---
import Banner from '@/components/common/Banner.astro'
import Footer from '@/components/layout/Footer.astro'
import NavBar from '@/components/layout/Navbar.astro'
import SideBar from '@/components/layout/SideBar.astro'
import { siteConfig } from '@/config/site'
import BaseLayout from '@/layouts/BaseLayout.astro'

interface Props {
	title?: string
	subTitle?: string
	bannerImage?: string
	slug?: string
}

const { title, subTitle, bannerImage, slug } = Astro.props
---

<BaseLayout title={title}>
	<NavBar />

	{
		siteConfig.bannerStyle == 'LOOP' && (
			<Banner
				title={title}
				subTitle={subTitle}
				bannerImage={bannerImage}
				slug={slug}
			/>
		)
	}

	<div class='main-container my-10'>
		<div class={`
    flex flex-row items-start
    xl:space-x-4
  `}>
			<div class='side-bar'>
				<SideBar />
			</div>
			<div class='transition-leaving w-full space-y-8'>
				<main class='content onload-animation'>
					<slot />
				</main>
				<Footer />
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	@reference "../styles/globals.css";

	.main-container {
		@apply lg:max-w-page-width-lg lg:min-w-page-width-lg xl:max-w-page-width-xl xl:min-w-page-width-xl w-full md:max-w-[80%] md:min-w-[80%];
		@apply md:mx-auto;
	}

	.side-bar {
		@apply hidden min-w-[248px] xl:block;
	}

	.content {
		@apply xl:w-[calc(var(--spacing-page-width-xl)-264px)];
	}
</style>
