---
import Banner from '@/components/common/Banner.astro'
import Footer from '@/components/widgets/Footer.astro'
import Header from '@/components/widgets/Header.astro'
import MobileSidebar from '@/components/widgets/MobileSidebar.astro'
import SideBar from '@/components/widgets/SideBar.astro'
import { siteConfig } from '@/config/site'
import Layout from '@/layouts/Layout.astro'

interface Props {
	title?: string
	subTitle?: string
	bannerImage?: string
	slug?: string
}

const { title, subTitle, bannerImage, slug } = Astro.props
---

<Layout title={title}>
	<slot name='header'>
		<Header />
	</slot>

	{
		siteConfig.bannerStyle === 'LOOP' && (
			<Banner title={title} subTitle={subTitle} bannerImage={bannerImage} slug={slug} />
		)
	}

	<div
		class={`
			my-10 w-full
			md:mx-auto md:max-w-[80%] md:min-w-[80%]
			lg:max-w-page-width-lg lg:min-w-page-width-lg
			xl:max-w-page-width-xl xl:min-w-page-width-xl
		`}
	>
		<div
			class={`
				flex flex-row items-start
				xl:space-x-4
			`}
		>
			<div
				class={`
					hidden min-w-[248px]
					xl:block
				`}
			>
				<SideBar />
			</div>
			<div class='w-full space-y-8 transition-leaving'>
				<main
					class={`
						onload-animation
						xl:w-[calc(var(--spacing-page-width-xl)-264px)]
					`}
				>
					<slot />
				</main>
				<MobileSidebar />
				<slot name='footer'>
					<Footer />
				</slot>
			</div>
		</div>
	</div>
</Layout>
